<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <title>Bai1</title>
  </head>
  <body>
    <div ng-app="myapp">
      <div ng-controller="InputController">
        <h1>{{greeting}}</h1>
        <input type="text" ng-model="username" placeholder="Nhập tên của bạn" />
        <button ng-click="sayHello()">Thông báo</button>
      </div>

      <!-- Phạm vi ảnh hưởng của $scope chỉ giới hạn trong ng-controller -->
      <div ng-controller="Controller1">
        <h1>Xin chào {{name}}</h1>
      </div>

      <div ng-controller="Controller2">
        <h1>Xin chào {{name}}</h1>
      </div>
    </div>
    <script>
      angular
        .module("myapp", [])
        .controller("InputController", function ($scope) {
          $scope.sayHello = function () {
            $scope.greeting = `Xin chào ${$scope.username}`;
          };
        })
        .controller("Controller1", function ($scope) {
          $scope.name = "Thien";
        })
        .controller("Controller2", function ($scope) {
          $scope.name = "Huy";
        });
    </script>
  </body>
</html>
