<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <style>
      .my-form {
        padding: 10px;
        border: 1px solid red;
      }

      .my-input {
        transition: all linear 0.3s;
        background-color: transparent;
      }

      /* class ng-invalid được tạo khi pattern ko hợp lệ */
      .my-input.ng-invalid {
        color: white;
        background-color: red;
      }
    </style>

    <title>Bai1</title>
  </head>
  <body>
    <div ng-app="myapp">
      <div ng-controller="InputController">
        <h1>{{greeting}}</h1>
        <input type="text" ng-model="username" placeholder="Nhập tên của bạn" />
        <button ng-click="sayHello()">Thông báo</button>
      </div>

      <!-- Phạm vi ảnh hưởng của $scope chỉ giới hạn trong ng-controller -->
      <div ng-controller="ControllerWrapper">
        <div ng-controller="Controller1">
          <h1>Xin chào {{name}}</h1>
        </div>

        <div ng-controller="Controller2">
          <h1>Xin chào {{name}}</h1>
        </div>
      </div>

      <!-- Directives ng-bind -->
      <div ng-controller="Example">
        <input ng-model="name" />
        <span ng-bind="name"></span>
        <div my-direct></div>
      </div>

      <!-- Ng-model -->
      <!-- ng-pattern dùng để check hợp lệ của value -->
      <div ng-controller="ngModel">
        <label>Name</label>
        <input
          ng-model="val"
          ng-pattern="/^\d+$/"
          name="anim"
          class="my-input"
        />
      </div>

      <form form-direct></form>

      <!-- Example Form Valid -->
      <form class="my-form" name="exampleForm" ng-controller="ExampleForm">
        <label for="so1">So1</label>
        <input
          class="my-input"
          id="so1"
          type="text"
          name="number11"
          ng-pattern="/^[0-9]+$/"
          ng-model="number1"
          placeholder="Nhập số 1"
          ng-keyup="calculate()"
          required
        />
        <br />
        <label for="so2">So2</label>
        <input
          class="my-input"
          id="so2"
          type="text"
          name="number22"
          ng-pattern="/^[0-9]+$/"
          ng-model="number2"
          placeholder="Nhập số 2"
          ng-keyup="calculate()"
          required
        />
        <h1>Cộng: {{result.cong}}</h1>
        <h1>Trừ: {{result.tru}}</h1>
        <button ng-click="calculate()">ADD</button>
      </form>

      <!-- Ng-model-options -- onUpdate -->
      <!-- Khồng có ng-model-options -->
      <form ng-controller="ExampleForm1">
        <input type="text" ng-model="user.name" />
        <span ng-bind="user.name"></span>
      </form>

      <!-- Có ng-model-options updateOn -->
      <form ng-controller="ExampleForm2">
        <input
          type="text"
          ng-model="user.name"
          ng-model-options="{updateOn: 'blur'}"
        />
        <span ng-bind="user.name"></span>
      </form>

      <!-- Có ng-model-options debounce - millisecond -->
      <!-- Khi ngưng gõ 1s thì $scope update dữ liệu -->
      <form ng-controller="ExampleForm3">
        <input
          type="text"
          ng-model="user.name"
          ng-model-options="{debounce: 1000}"
        />
        <span ng-bind="user.name"></span>
      </form>

      <!-- Có ng-model-options getterSetter: boolean -->
      <form ng-controller="ExampleForm4">
        <input
          type="text"
          ng-model="user.name"
          ng-model-options="{getterSetter: true}"
        />
        <span ng-bind="user.name()"></span>
      </form>
    </div>
    <script>
      angular
        .module("myapp", [])
        .directive("myDirect", function () {
          return {
            template: "<h1>This is my Direct</h1>",
          };
        })
        .directive("formDirect", function () {
          let str = `<input type="text" placeholder="Nhập tên của bạn" />
        <input type="number" placeholder="Nhập tuổi của bạn" />
        <button>Submit</button>`;
          return {
            template: str,
          };
        })
        .controller("InputController", function ($scope) {
          $scope.sayHello = function () {
            $scope.greeting = `Xin chào ${$scope.username}`;
          };
        })
        .controller("ControllerWrapper", function ($scope) {
          $scope.name = "Huy";
        })
        .controller("Controller1", function ($scope) {
          $scope.name = "Thien";
        })
        .controller("Controller2", function ($scope) {
          // $scope.name = "Huy";
        })
        .controller("Example", function ($scope) {})
        .controller("ngModel", ($scope) => {})
        .controller("ExampleForm", ($scope) => {
          $scope.calculate = () => {
            debugger;
            if ($scope.number11.$valid) alert("Input 1");

            if ($scope.number22.$valid) alert("Input 2");

            if ($scope.exampleForm.$valid)
              $scope.result = {
                cong: $scope.number1 + $scope.number2,
                tru: $scope.number1 - $scope.number2,
              };
          };
        })
        .controller("ExampleForm1", ($scope) => {})
        .controller("ExampleForm2", ($scope) => {})
        .controller("ExampleForm3", ($scope) => {})
        .controller("ExampleForm4", ($scope) => {
          let _name = "duongVanThien";
          $scope.user = {
            name: (newName) => {
              return angular.isDefined(newName) ? newName : _name;
            },
          };
        });
    </script>
  </body>
</html>
