<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script>
      const module = angular.module("bai2", []);

      module
        .controller("Example1", ($scope) => {
          $scope.text = "Xin chào";

          $scope.handleChange = () => {
            $scope.errorUsername = $scope.form1.username.$valid
              ? ""
              : "Bạn nhập sai username";

            $scope.errorPassword = $scope.form1.password.$valid
              ? ""
              : "Bạn nhập sai mật khẩu";
          };
        })
        .controller("Example2", ($scope) => {
          $scope.userDate = new Date();
        })
        .controller("Example3", ($scope) => {
          $scope.check = false;

          $scope.handleChange = () => {
            $scope.check = $scope.age > 20;
          };
        })
        .controller("Example4", ($scope) => {
          $scope.items = [
            { name: "Thien", age: 22 },
            { name: "Huy", age: 21 },
          ];
        })
        .controller("Example5", ($scope) => {
          $scope.items = [
            { name: "Thien", age: 22 },
            { name: "Huy", age: 21 },
          ];
        })
        .controller("Example6", ($scope) => {})
        .controller("Example7", ($scope) => {
          $scope.name = "Thien";
        })
        .controller("Example8", [
          "$scope",
          "kiemTraSoChan",
          ($scope, kiemTraSoChan) => {
            $scope.check = () => {
              kiemTraSoChan($scope.number);
            };
          },
        ]);

      // Module Factory
      // module.factory("kiemTraSoChan", ($window) => (number) => {
      //   if (number % 2 === 0) $window.alert("Là số chẵn");
      // });

      // Module Service
      module.service("kiemTraSoChan", ($window) => (number) => {
        if (number % 2 === 0) $window.alert("Là số chẵn");
      });
    </script>

    <title>Bai 2</title>
  </head>
  <body>
    <div ng-app="bai2">
      <!-- <div ng-controller="Example">
        <p ng-bind="text"></p>
      </div> -->
      <!-- <form name="form1" ng-controller="Example1" ng-submit="handleSubmit()">
        <p ng-bind="text"></p>
        <input
          type="text"
          name="username"
          ng-model="username"
          ng-minLength="3"
          ng-maxLength="10"
          ng-trim="true"
          ng-change="handleChange()"
          required
        />
        <p ng-bind="errorUsername"></p>
        <input
          type="password"
          name="password"
          ng-model="password"
          ng-pattern="/^[0-9]+$/"
          ng-minLength="3"
          ng-maxLength="10"
          ng-change="handleChange()"
          required
        />
        <p ng-bind="errorPassword"></p>
        <input type="submit" />
      </form> -->

      <!-- Datetime-local -->
      <form name="form1" ng-controller="Example2">
        <input
          type="date"
          name="userDate"
          ng-model="userDate"
          min="2014-01-01"
          max="2014-12-31"
          required
        />
        <p>{{userDate | date: 'dd/MM/yyyy'}}</p>
      </form>

      <!-- ng-hide / ng-show -->
      <form name="form2" ng-controller="Example3">
        <input
          type="number"
          name="age"
          ng-model="age"
          ng-change="handleChange()"
          required
        />

        <p ng-show="check">Đủ tuổi</p>
        <p ng-hide="check">Chưa đủ tuổi</p>
      </form>

      <!-- ng-repeat -->
      <div ng-controller="Example4">
        <div ng-repeat="item in items">
          <p>{{item.name}}</p>
          <p>{{item.age}}</p>
        </div>
      </div>

      <div ng-controller="Example5">
        <div ng-repeat-start="(key,item) in items">
          <p>{{item.name}}</p>
        </div>
        <p ng-repeat-end>Tuổi: {{item.age}}</p>
      </div>

      <div
        ng-controller="Example6"
        ng-init="items = [
      { name: 'Thien', age: 22 },
      { name: 'Huy', age: 21 },
    ]"
      >
        <div ng-repeat-start="(key,item) in items">
          <p>{{item.name}}</p>
        </div>
        <p ng-repeat-end>Tuổi: {{item.age}}</p>
      </div>

      <div ng-controller="Example7">
        <div ng-include="'./template-a.html'"></div>
        <div ng-include="'./template-b.html'"></div>
      </div>

      <!-- Services -->
      <!-- Declare Custom Service using Factory method -->
      <form ng-controller="Example8">
        <input type="number" ng-model="number" ng-change="check()" />
      </form>
    </div>
  </body>
</html>
