<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script>
      const module = angular.module("bai3", []);

      module
        .controller("Example", [
          "$scope",
          "validate",
          function ($scope, validate) {
            $scope.check = () => {
              validate($scope.number);
            };
          },
        ])
        .controller("Example1", function ($scope) {
          // String
          // $scope.className = "box red border";

          // Array
          // $scope.className = ["box", "blue border"];

          let isBlue = true;

          // Object
          $scope.className = {
            box: true,
            border: true,
            blue: $scope.isBlue,
            red: !$scope.isBlue,
          };

          $scope.change = function () {
            isBlue = !isBlue;

            $scope.className = {
              ...$scope.className,
              blue: isBlue,
              red: !isBlue,
            };
          };
        })
        .controller("Example2", ($scope) => {
          $scope.currentTab = 1;

          $scope.isActive = (number) => number === $scope.currentTab;

          $scope.changeTab = (number) => ($scope.currentTab = number);
        });
      module.service("validate", function ($window, kiemTraSoChan) {
        return function (number) {
          if (kiemTraSoChan(number)) $window.alert("La so chan");
        };
      });

      // Lưu ý service hay factory đều phải trả về 1 function
      module.service("kiemTraSoChan", function () {
        return (number) => number % 2 === 0;
      });
    </script>

    <style>
      .box {
        display: block;
        height: 50px;
        width: 50px;
      }

      .red {
        background-color: red;
      }

      .blue {
        background-color: blue;
      }

      .border {
        border: 5px solid black;
      }

      a.active {
        color: red;
      }
    </style>

    <title>Bai 3</title>
  </head>
  <body>
    <div ng-app="bai3">
      <form ng-controller="Example">
        <input type="number" ng-model="number" ng-change="check()" />
      </form>

      <!-- ng-class -->
      <div ng-controller="Example1" ng-class="className" ng-init="isBlue=false">
        <button ng-click="change()">Change</button>
      </div>

      <!-- Example ng-class -->
      <div ng-controller="Example2">
        <div class="heading">
          <a href="#" ng-class="{active:isActive(1)}" ng-click="changeTab(1)"
            >Tag 1</a
          >
          <a href="#" ng-class="{active:isActive(2)}" ng-click="changeTab(2)"
            >Tag 2</a
          >
          <a href="#" ng-class="{active:isActive(3)}" ng-click="changeTab(3)"
            >Tag 3</a
          >
        </div>
        <div ng-class="{content: true}">
          <div ng-show="currentTab === 1">Noi dung 1</div>
          <div ng-show="currentTab === 2">Noi dung 2</div>
          <div ng-show="currentTab === 3">Noi dung 3</div>
        </div>
      </div>
    </div>
  </body>
</html>
